//  ------------------------------------------------------------
//  Red color utilities
//  ------------------------------------------------------------

$red-1: (
  "--color": #000,
  "--bg-color": var(--red-1),
  "--border-color": var(--red-2),
  "--bg-hover": var(--red-2),
  "--focus-hsl": var(--red),
) !default;

$red-2: (
  "--color": #fff,
  "--bg-color": var(--red-2),
  "--border-color": var(--red-3),
  "--bg-hover": var(--red-1),
  "--focus-hsl": var(--red),
) !default;

$red-3: (
  "--color": #fff,
  "--bg-color": var(--red-3),
  "--border-color": var(--red-4),
  "--bg-hover": var(--red-4),
  "--focus-hsl": var(--red),
) !default;

$red-4: (
  "--color": #fff,
  "--bg-color": var(--red-4),
  "--border-color": var(--red-5),
  "--bg-hover": var(--red-5),
  "--focus-hsl": var(--red),
) !default;

$red-5: (
  "--color": #fff,
  "--bg-color": var(--red-5),
  "--border-color": var(--red-4),
  "--bg-hover": var(--red-4),
  "--focus-hsl": var(--red),
) !default;
